.issues-item-container{
    border:1px solid #e0e4e8;
    border-top:none;
    padding:12px;
}

.issues-item-container .title-wrapper{
    display: flex;
    justify-content: space-between
}

.title-wrapper .title{
    font-weight: 600;
    font-size:18px;
    color: #616161;
    flex:9
}

.title-wrapper .comments {
    color:black;
    flex:1;
    font-size:14px
}

.issues-item-container .meta-wrapper{
    display: flex;
    flex-direction: row;
    color: #818284;
    font-size:12px;
    margin-top: 5px
}

.issues-item-container .meta-wrapper > div{
    margin-left: 5px
}



@media only screen and (max-width: 992px) {
    .title-wrapper .title{
        flex:8
    }
    .title-wrapper .comments {
        flex:2;
        text-align:right;
        font-size: 12px
    }
} 

@media only screen and (max-width: 600px) {

    .title-wrapper .comments {
        display: none;
    }
    .title-wrapper .title{
        font-weight: 600;
        color:blue;
        font-size:15px
    }
    
} 